h1 { font-family: 'Ultra', serif; font-size: 3em; color: #E04376; }
h2 { font-family: 'Ultra', serif; font-size: 2em; color: #E04376; }
h3 { font-family: 'Ultra', serif; font-size: 1.5em; color: #E04376; }
p, p.buttonText { font-family: 'Neuton', serif; font-weight: 700; font-size: 1.3em; color: #473F64; }
p.buttonText { font-weight: 400; }
b { font-weight: 700; }


.about { margin-top: 3em; margin-bottom: 3em; }

.bg-blue { background-color: #61D8E3; }
.bg-yellow { background-color: #FED636; padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }
.bg-white { background-color: #ffffff; padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }

.color-E04376 { color: #E04376; }
.color-61D8E3 { color: #61D8E3; }
.color-473F64 { color: #473F64; }

.jumbotron .container { /*margin-top: 3em;*/ padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }

.jumbotron h3, .buenos-tiimi h3 { font-family: 'Ultra', serif; font-size: 1.5em; color: #E04376; text-transform: uppercase; letter-spacing:1px; }
.jumbotron p, .buenos-tiimi p { font-family: 'Ultra', serif; font-weight: 800; font-size: 1.2em; color: #E04376; text-transform: uppercase; letter-spacing:1px; margin-top: 1em; }

.buenos-tiimi h1 { font-family: 'Ultra', serif; font-size: 3em; color: #ffffff; margin-bottom: 1em; }
.buenos-tiimi h3 { font-family: 'Neuton', serif; font-weight: 800; color: #ffffff; margin-bottom: 0.3em; }
.buenos-tiimi p { font-family: 'Neuton', serif; font-weight: 400; color: #ffffff; margin-top: 0em; }



.jumbo-user-flow { padding-top: 0; padding-bottom: 0; margin-bottom: 0; margin-top: -5px; }

.jumbo-buenos-tiimi { padding-top: 0; padding-bottom: 0; margin-bottom: 0; margin-top: -5px; }

.flipped { 
  /* Rotate div */
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.thumbnail { background-color: transparent; border: none; -webkit-box-shadow: none; box-shadow: none; }

.row { margin-bottom: 2em; }

.center { margin: 0 auto 0 auto; text-align: center; }

.videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-header { margin: 0px 0px 20px; }


.myButton {
  background-color:#ffffff;
  border:3px solid #473f64;
  display:inline-block;
  cursor:pointer;
  color:#473f64;
  font-family: "Ultra", serif;
  font-size:1em;
  padding:10px 31px;
  text-decoration:none !important;
  text-transform: uppercase;
  white-space: nowrap;
}
.myButton:hover {
  background-color:#473f64;
  color:#ffffff;
}
.myButton:active {
  position:relative;
  top:1px;
}


.myButton-fff {
  background-color: transparent;
  border:3px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: "Ultra", serif;
  font-size:1em;
  padding:10px 31px;
  text-decoration:none !important;
  text-transform: uppercase;
}
.myButton-fff:hover {
  background-color:#ffffff;
  color:#61D8E3;
}
.myButton-fff:active {
  position:relative;
  top:1px;
}