h1 { font-family: 'Ultra', serif; font-size: 2.5em; color: #E04376; }
h2 { font-family: 'Ultra', serif; font-size: 2em; color: #E04376; }
h3 { font-family: 'Ultra', serif; font-size: 1.5em; color: #E04376; }
p { font-family: 'Neuton', serif; font-weight: 400; font-size: 1.3em; color: #473F64; }
b { font-weight: 700; }

.about { margin-top: 3em; margin-bottom: 3em; }

.bg-blue { background-color: #61D8E3; }

.jumbotron .container { margin-top: 3em; }

.jumbotron h3 { font-family: 'Ultra', serif; font-size: 1.5em; color: #E04376; text-transform: uppercase; letter-spacing:1px; }
.jumbotron p { font-family: 'Neuton', serif; font-weight: 400; font-size: 1.2em; color: #ffffff; text-transform: uppercase; letter-spacing:1px; }

.thumbnail { background-color: transparent; border: none; -webkit-box-shadow: none; box-shadow: none; }

.row { margin-bottom: 2em; }

.center { margin: 0 auto 0 auto; text-align: center; }

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-header { margin: 0px 0px 20px; }


.myButton {
  background-color:#ffffff;
  border:3px solid #473f64;
  display:inline-block;
  cursor:pointer;
  color:#473f64;
  font-family: "Neuton", serif;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none !important;
  text-transform: uppercase;
}
.myButton:hover {
  background-color:#fed636;
}
.myButton:active {
  position:relative;
  top:1px;
}


.myButton {
  background-color: transparent;
  border:3px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: "Neuton", serif;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none !important;
  text-transform: uppercase;
}
.myButton:hover {
  background-color:#ffffff;
  color:#61D8E3;
}
.myButton:active {
  position:relative;
  top:1px;
}